{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
    
<h2>Your Balance:</h2>

{% if context %}
    <table class="table">
        <thead>
            <tr>    
            <th scope="col">Paid by</th>       
            <th scope="col">Shared with</th>
            <th scope="col">Bill Type</th>
            <th scope="col">Added on</th>
            <th scope="col">Paid Amount</th>
            <th scope="col">Due Amount</th>            
            </tr>
        </thead>
        <tbody>
            {% for item, val in context.items %}
                {% if item != 'total' %}
                <tr>
                {% for item2, val2 in val.items %} 
                        <td> {{ val2 }}</td>
                {% endfor %}
                </tr>
                {% endif %}  
            {% endfor %}
            <tr>           
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><h5>Total Due<h5></td>
                {% for item, val in context.items %}
                    {% if item == 'total' %}
                        {% for item2, val2 in val.items %} 
                            <td><h5>$ {{ val2 }}</h5></td>
                        {% endfor %}
                    {% endif %}  
                {% endfor %}
            </tr>
        </tbody>
    </table>
    
{% endif %}

{% endblock %}